@charset "UTF-8";
/* CSS Document */

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 100%;
}

header, section, footer, aside, nav, article, figure {
	display: block;
}

#contenedor {
	width: 810px;
	margin: 0px auto;
}

header {
	width: 100%;
	padding: 40px 0px 20px 0px;
	text-align: center;
	background-color: #000;
    -webkit-box-shadow:  0px 3px 3px 3px #000;
    -moz-box-shadow:  0px 3px 3px 3px #000;
    box-shadow:  0px 3px 3px 3px #000;    
}

#conferencistas {
	background-color: #DDD;
	width: 810px; height: 557px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	-webkit-box-shadow: 2px 2px 3px 2px #888;
    -moz-box-shadow: 2px 2px 3px 2px #888;
    box-shadow:  2px 2px 3px 2px #888;
}

.conferencista {
	width: 125px; height: 150px;
	margin: 12px;
	border: solid 4px #FFFFFF;
	float: left;
	position: relative;
	overflow: hidden;
	left: 10px; top: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.conferencista h1 {
	font-weight: bold;
	font-size: .8em;
	margin: 0px 0px .1em 0px;
}

.conferencista h2 {
	font-size: .7em;
	font-weight: bold;
	margin: 0px 0px .1em 0px;
}

.conferencista p {
	font-size: .7em;
	text-decoration: none;
	margin: 0px 0px .1em 0px;
}

.datos {
	padding: 4px;
	width: 117px;
	height: 142px;
	background-color: rgba(255, 255, 255, .7);
	color: rgba(F255, 255, 255, .7);
	position: absolute;
	cursor: pointer;
	bottom: -129px;
	left: 0px;
}

.datos img {
	margin: 4px 0px 0px 0px;
	-webkit-box-shadow: 2px 2px 3px 1px #888;
    -moz-box-shadow: 2px 2px 3px 1px #888;
    box-shadow: 2px 1px 3px 1px #888;
}

footer {
	margin: 20px 0px 0px 0px;
	width: 100%;
	background-color: #333;
	padding: 15px 0px;
}

#pie {
	width: 810px; height: 82px;
	background-color: #333;
	margin: 0px auto;
	padding: 5px 10px;
}

#pie img {
	margin: 0px; padding: 0px;
}

#redes {
	float: left;
}

#links {
	float: right;
	width: 250px;
	padding: 0px 0px 0px 70px;
	border-left: #666 solid 2px;
}

#links p {
	margin: 2px 0px 0px 0px;
	float: left;
	margin-right: 5px;
	font-size: .8em;
	color: #666;
}

#links a{
	text-decoration: none;
	font-size: .9em;
	color: #BBB;
}

#links a:hover {
	text-decoration: underline;
	color: #FFF;
}

.cursosMini {
	margin: 30px 0px 30px 15px; padding: 15px;
	background-color:#EEE;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

.cursosMini img {
	float: left;
	margin: -30px 0px 0px -30px;
	-webkit-box-shadow: 3px 3px 3px #888;
	-moz-box-shadow: 3px 3px 3px #888;
	box-shadow: 3px 3px 3px #888;
}

.cursosMini h1 {
	font-size: .9em;
	color: #444;
	font-weight: bold;
	margin: 0px 0px 5px 65px;
}

.cursosMini p, .cursosMini ul  {
	font-size: .8em;
	color: #666;
	margin: .4em 0px 0px 65px;
}

.cursosMini ul  {
	margin-left: 82px;
}

.cursosMini a  {
	color: #444;
}

.contenidofaq {
	padding: 15px 0px;
}

.contenidofaq h1 {
	font-size: .9em;
	color: #444;
	font-weight: bold;
	margin: 5px 0px;
}

.contenidofaq p, .contenidofaq ul {
	font-size: .8em;
	color: #666;
	margin: 0px 0px 0px 15px;
}

.contenidofaq ul {
	margin: 0px 0px 0px 40px;
}

.contenidofaq a {
	color: #222;
}

.contenidofaq img {
	margin: 0px 0px 5px 15px;
}
